@{
    Layout = null;
    
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .item {
            background-color: #f6f6f6;
            margin-bottom: 20px;
            width: 600px;
            margin: 0 auto;
            margin-top: 20px;
        }

        .hd {
            font-size: 15px;
            color: #036;
            font-weight: 700;
            padding: 6px;
        }

        .hurl {
            margin-left: 20px;
            margin-bottom: 3px;
            font-size: 16px;
        }

        .bb {
            font-family: "Classic Grotesque W01", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei",Arial,SimSun,sans-serif;
            margin-left: 15px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    @*  {"userid":"10010","kct":"2","sf":"4"}*@

    <div class="item">
        <div class="hd">
            一. 添加用户module &nbsp;&nbsp;api/Addroommodule
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/Addroommodule?parm=一个json串" target="_blank">http://mobile.mj100.com/api/Addroommodule?parm=一个json串</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>
                <pre>{"userid":"10010","kct":"2","sf":"4"}</pre>
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
     {
"success": "true",
"msg": "添加用户module成功",
"data": [
{
"userroomid": "19073",
"roomName": "客餐厅",
"demandId": "2891",
"FrontCover": "",
"mj": ""
} 
]
}
 
           </pre>
            </fieldset>
        </div>
    </div>

    <div class="item">
        <div class="hd">
            一. 得到用户module（模块） &nbsp;&nbsp;api/GetUserModule
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/GetUserModule?userid=10010" target="_blank">http://mobile.mj100.com/api/GetUserModule?userid=用户id</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>userid 用户id
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
       [
{
"userroomid": "18991",   ---用户moudle模块编号
"roomName": "客餐厅",
"demandId": "2891",     ---需求编号
"FrontCover": "",    ---封面图  如果用户尚未为此房间模块选择模版  则为空
"mj": ""    ---面积
},
{
"userroomid": "18992",
"roomName": "客餐厅",
"demandId": "2891",
"FrontCover": "",
"mj": ""
},
{
"userroomid": "18993",
"roomName": "书房",
"demandId": "2891",
"FrontCover": "",
"mj": ""
},
{
"userroomid": "18994",
"roomName": "书房",
"demandId": "2891",
"FrontCover": "",
"mj": ""
} 
]
 
           </pre>
            </fieldset>
        </div>
    </div>


    <div class="item">
        <div class="hd">
            一. 删除某一个用户的单独模块 &nbsp;&nbsp;api/DeleteSingleModule
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/DeleteSingleModule?userid=10010&userromid=10010" target="_blank">http://mobile.mj100.com/api/GetUserModule?userid=用户id&userromid=10010</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>userid 用户id   userromid 用户模块id
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
      
 {
"success": "true",
"msg": "删除18991成功"
}
           </pre>
            </fieldset>
        </div>
    </div>

    <div class="item">
        <div class="hd">
            一. 修改用户信息 &nbsp;&nbsp;api/UpdateUser
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/UpdateUser?userid=5680&name=大鹏&address=北京&gender=1" target="_blank">http://mobile.mj100.com/api/UpdateUser?userid=用户id&name=姓名&address=地址&gender=男传1女传0</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>userid=用户id&name=姓名&address=地址&gender=男传1女传0      userid必传 其它可传可不传
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
         {
"success": "true",
"msg": "更新成功"
}
 
           </pre>
            </fieldset>
        </div>
    </div>

    <div class="item">
        <div class="hd">
            二. 发送找回密码短信 &nbsp;&nbsp;api/SendReSetPwdMsg
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/SendReSetPwdMsg?phone=你的手机号" target="_blank">http://mobile.mj100.com/api/SendReSetPwdMsg?phone=你的手机号 </a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>phone  找回密码用的手机号
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
        {
"success": "true",
"msg": "找回密码验证码发送成功"
}
           </pre>
            </fieldset>
        </div>
    </div>


    <div class="item">
        <div class="hd">
            一. 重设密码 &nbsp;&nbsp;api/ReSetPwd
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/ReSetPwd?phone=你的手机号&code=收到的验证码&newpwd=新密码" target="_blank">http://mobile.mj100.com/api/ReSetPwd?phone=你的手机号&code=收到的验证码&newpwd=新密码</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>phone=你的手机号&code=收到的验证码&newpwd=新密码
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
     {
"success": "true",
"msg": "更新成功"
}
           </pre>
            </fieldset>
        </div>
    </div>

    <div class="item">
        <div class="hd">
            一. 发送注册短信 &nbsp;&nbsp;api/SendRegistMSg
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/SendRegistMSg?phone=你的手机号" target="_blank">http://mobile.mj100.com/api/SendRegistMSg?phone=注册手机号</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>phone 是用户注册输入的手机号  
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
           {
"success": "false",
"msg": "此手机号已被注册"
}

                    {
"success": "true",
"msg": "发送成功"
}
           </pre>
            </fieldset>
        </div>
    </div>

    <div class="item">
        <div class="hd">
            一. 验证验证码是否正确 &nbsp;&nbsp;api/validatecode
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/validatecode?phone=你的手机号&code=收到的验证码" target="_blank">http://mobile.mj100.com/api/validatecode?phone=你的手机号&code=收到的验证码</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>phone 是用户注册输入的手机号 ， code: 你收到的验证码 
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
     {
"success": "false",
"msg": "验证码错误",
"code": 628115,
"code2": "506505"
}

                    {
"success": "true",
"msg": "验证码正确",
"code": 506505,
"code2": "506505"
}
           </pre>
            </fieldset>
        </div>
    </div>


    <div class="item">
        <div class="hd">
            一. 注册 &nbsp;&nbsp;api/Regist
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/Regist?phone=注册用的手机号&pwd=明文密码&name=用户名&gender=男就传1女就传0" target="_blank">http://mobile.mj100.com/api/Regist?phone=注册用的手机号&pwd=明文密码&name=用户名&gender=男就传1女就传0</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>phone=注册用的手机号&pwd=明文密码&name=用户名&gender=男就传1女就传0 
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
     {
"success": "true",
"msg": "注册成功",
"userid": "5671"
}
           </pre>
            </fieldset>
        </div>
    </div>


    <div class="item">
        <div class="hd">
            一. 登录 &nbsp;&nbsp;api/login
        </div>

        <div class="hurl">
            <a href="http://mobile.mj100.com/api/login?loginname=123456&pwd=123" target="_blank">http://mobile.mj100.com/api/login?loginname=123456&pwd=123</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>loginname 是用户输入的手机号  pwd是密码<br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
           {
           "success": "false",
           "msg": "用户名或密码错误"
           }

           {
            "success": "true",
            "userid": "55",
            "loginname": "110",
            "usermphone": ""
           } 
           </pre>
            </fieldset>
        </div>
    </div>

    <div class="item">
        <div class="hd">
            二. 模版房间列表 &nbsp;&nbsp;api/GetModelList
        </div>
        <div class="hurl">
            <a href="http://mobile.mj100.com/api/GetModelList?roomtype=kct&order" target="_blank">http://mobile.mj100.com/api/GetModelList?roomtype=kct&order</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>roomtype 房间类型拼音简写 如客餐厅 为 kct   &nbsp;&nbsp; order是排序  传值则按价格倒序 
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
          [
{
"did": "3582",
"roomtype": "客,餐厅",
"roomName": "ELD380A",
"price": "373",
"frontCover": "http://www.mj100.com/UploadFile/295/201409/kt-1-s-p-033324.jpg",
"pics": [
"http://www.mj100.com/UploadFile/295/201409/kt-1-s-p-033324.jpg",
"http://www.mj100.com/UploadFile/295/201409/kt-2-s-p-033331.jpg",
"http://www.mj100.com/UploadFile/295/201409/kt-1-s-z-033328.jpg",
"http://www.mj100.com/UploadFile/295/201409/kt-2-s-z-033333.jpg"
]
},
{
"did": "3595",
"roomtype": "客,餐厅",
"roomName": "CLD580B",
"price": "409",
"frontCover": "http://www.mj100.com/UploadFile/295/201409/kt-1-s-p-023117.jpg",
"pics": [
"http://www.mj100.com/UploadFile/295/201409/kt-1-s-p-023117.jpg",
"http://www.mj100.com/UploadFile/295/201409/kt-2-s-p-023118.jpg",
"http://www.mj100.com/UploadFile/295/201409/kt-1-s-z-023120.jpg",
"http://www.mj100.com/UploadFile/295/201409/kt-2-s-z-023121.jpg"
]
}
]
           </pre>
            </fieldset>
        </div>
    </div>


    <div class="item">
        <div class="hd">
            二. 模版房间工艺明细 &nbsp;&nbsp;api/GetGyMx
        </div>
        <div class="hurl">
            <a href="http://mobile.mj100.com/api/GetGyMx?did=3582" target="_blank">http://mobile.mj100.com/api/GetGyMx?did=模版间did</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>did=模版间did
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
         {
"顶面": [
{
"tp": "顶面",
"extension": "墙顶面披、刮腻子",
"univalent": "39.16",
"unit": "m²",
"price": "939.84",
"ProductAmount": "乳胶漆"
},
{
"tp": "顶面",
"extension": "滚涂乳胶漆",
"univalent": "39.16",
"unit": "m²",
"price": "78.32",
"ProductAmount": "乳胶漆"
}
],
"墙面": [
{
"tp": "墙面",
"extension": "墙顶面披、刮腻子",
"univalent": "103.38",
"unit": "m²",
"price": "2481.12",
"ProductAmount": "乳胶漆"
}
],
"地面": [
{
"tp": "地面",
"extension": "基层清光找平",
"univalent": "36.37",
"unit": "m²",
"price": "1382.06",
"ProductAmount": "铺地板"
},
{
"tp": "地面",
"extension": "门槛石铺贴",
"univalent": "2.7",
"unit": "m",
"price": "108.0",
"ProductAmount": "贴砖"
}
],
"dl": [
{
"tp": "dl",
"extension": "照明、插座强电布施",
"univalent": "39.16",
"unit": "m²",
"price": "2741.20",
"ProductAmount": "强弱电安装"
},
{
"tp": "dl",
"extension": "网络、电话弱电布施",
"univalent": "39.16",
"unit": "m²",
"price": "979.00",
"ProductAmount": "强弱电安装"
},
{
"tp": "dl",
"extension": "施工阶段建材运杂费",
"univalent": "29.6",
"unit": "m²",
"price": "296.0",
"ProductAmount": "杂费"
},
{
"tp": "dl",
"extension": "施工阶段卫生清理费",
"univalent": "29.6",
"unit": "m²",
"price": "207.2",
"ProductAmount": "杂费"
},
{
"tp": "dl",
"extension": "成品保护费",
"univalent": "29.6",
"unit": "m²",
"price": "148.0",
"ProductAmount": "杂费"
},
{
"tp": "dl",
"extension": "竣工保洁费",
"univalent": "29.6",
"unit": "m²",
"price": "148.0",
"ProductAmount": "杂费"
}
]
}
           </pre>
            </fieldset>
        </div>
    </div>


    <div class="item">
        <div class="hd">
            二. 模版房间建材明细 &nbsp;&nbsp;api/GetZcMx
        </div>
        <div class="hurl">
            <a href="http://mobile.mj100.com/api/GetzcMx?did=3582" target="_blank">http://mobile.mj100.com/api/GetZcMx?did=模版间did</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>did=模版间did
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
        {
"墙面": [
{
"productid": "1473",
"num": "3",
"price": "52.95",
"unit": "个",
"tp": "墙面",
"netprice": "17.65",
"pname": "TCL罗格朗美驭系列三开单控插座",
"bnmae": "TCL罗格朗",
"pmodel": "美驭系列三开单控",
"gg": "86型",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DSWJ_C_2014050614221202358523.jpg"
},
{
"productid": "902",
"num": "12.89",
"price": "287.447",
"unit": "升",
"tp": "墙面",
"netprice": "22.30",
"pname": "多乐士家丽安净味墙面漆乳胶漆",
"bnmae": "多乐士",
"pmodel": "家丽安净味墙面漆",
"gg": "5L",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201403/QZTL_C_2014032615125503900081.jpg"
},
{
"productid": "1455",
"num": "1",
"price": "7.8",
"unit": "个",
"tp": "墙面",
"netprice": "7.8",
"pname": "三雄极光雅白K6单开单控开关",
"bnmae": "三雄极光",
"pmodel": "雅白K6单开单控",
"gg": "86型",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DSWJ_C_2014050614215402072477.jpg"
},
{
"productid": "1456",
"num": "1",
"price": "9",
"unit": "个",
"tp": "墙面",
"netprice": "9",
"pname": "三雄极光雅白K6单开双控开关",
"bnmae": "三雄极光",
"pmodel": "雅白K6单开双控",
"gg": "86型",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DSWJ_C_2014050614220202941985.jpg"
},
{
"productid": "1466",
"num": "1",
"price": "25.9",
"unit": "个",
"tp": "墙面",
"netprice": "25.9",
"pname": "三雄极光雅白K6电话插插座",
"bnmae": "三雄极光",
"pmodel": "雅白K6电话插",
"gg": "86型",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DSWJ_C_2014050614220902553363.jpg"
},
{
"productid": "1467",
"num": "2",
"price": "59.6",
"unit": "个",
"tp": "墙面",
"netprice": "29.8",
"pname": "三雄极光雅白K6电脑插插座",
"bnmae": "三雄极光",
"pmodel": "雅白K6电脑插",
"gg": "86型",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DSWJ_C_2014050614220902878381.jpg"
},
{
"productid": "1465",
"num": "1",
"price": "16.9",
"unit": "个",
"tp": "墙面",
"netprice": "16.9",
"pname": "三雄极光雅白K6电视插插座",
"bnmae": "三雄极光",
"pmodel": "雅白K6电视插",
"gg": "86型",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DSWJ_C_2014050614220902187342.jpg"
},
{
"productid": "1458",
"num": "2",
"price": "28",
"unit": "个",
"tp": "墙面",
"netprice": "14",
"pname": "三雄极光雅白K6双开双控开关",
"bnmae": "三雄极光",
"pmodel": "雅白K6双开双控",
"gg": "86型",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DSWJ_C_2014050614220502425127.jpg"
},
{
"productid": "1462",
"num": "8",
"price": "80",
"unit": "个",
"tp": "墙面",
"netprice": "10",
"pname": "三雄极光雅白K6五孔插插座",
"bnmae": "三雄极光",
"pmodel": "雅白K6五孔插",
"gg": "86型",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DSWJ_C_2014050614220702262232.jpg"
},
{
"productid": "1423",
"num": "16.9",
"price": "2028",
"unit": "米",
"tp": "墙面",
"netprice": "120.00",
"pname": "升达多层板门（窗）套",
"bnmae": "升达",
"pmodel": "单面套",
"gg": "现场定制",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201404/MCLT_O_2014040117553205816505.jpg"
}
],
"顶面": [
{
"productid": "902",
"num": "7.83",
"price": "174.609",
"unit": "升",
"tp": "顶面",
"netprice": "22.30",
"pname": "多乐士家丽安净味墙面漆乳胶漆",
"bnmae": "多乐士",
"pmodel": "家丽安净味墙面漆",
"gg": "5L",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201403/QZTL_C_2014032615125503900081.jpg"
}
],
"地面": [
{
"productid": "1501",
"num": "45.29",
"price": "3125.01",
"unit": "m²",
"tp": "地面",
"netprice": "69",
"pname": "圣象N7115复合木地板",
"bnmae": "圣象",
"pmodel": "N7115",
"gg": "1286*194*6.5",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201405/DBCZ_C_2014050614593302843729.jpg"
}
]
}
           </pre>
            </fieldset>
        </div>
    </div>


    @* http://mobile.mj100.com/api/tjzc?productid=902*@

    <div class="item">
        <div class="hd">
            二. 推荐建材 &nbsp;&nbsp;api/tjjc
        </div>
        <div class="hurl">
            <a href="http://mobile.mj100.com/api/tjzc?productid=902" target="_blank">http://mobile.mj100.com/api/tjzc?productid=原建材productid</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend>productid=原建材productid
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
 [
{
"productid": "903",
"unit": "升",
"netprice": "76.80",
"pname": "多乐士全效竹炭儿童漆乳胶漆",
"bnmae": "多乐士",
"pmodel": "全效竹炭儿童漆",
"gg": "5L",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201403/QZTL_C_2014032615124503150466.jpg"
} 
]
           </pre>
            </fieldset>
        </div>
    </div>




    <div class="item">
        <div class="hd">
            二. 选定房间|使用模版房间 &nbsp;&nbsp;api/SyFj
        </div>
        <div class="hurl">
            <a href="http://mobile.mj100.com/api/SyFj?productid=902" target="_blank">http://mobile.mj100.com/api/SyFj?parm={ "userid":"10010","data":[ {"userroomid":"1", "did":"2", "mj":"100", "products":[] }]}</a>
        </div>
        <div class="bb">
            <fieldset>
                <legend>输入参数</legend><pre>{ "userid":"10010","data":[ {"userroomid":"1", "did":"2", "mj":"100", "products":[] }]}</pre>
<img src="/Content/1.png" alt="" />
                <pre>
{
"userid": "用户id",
"data": [
{
"userroomid": "用户模块id即userroomid",
"did": "模版房间id",
"mj": "面积",
"products": []
}
]
}

{
"userid": "用户id",
"data": [
{
"userroomid": "用户模块id即userroomid",
"did": "模版房间id",
"mj": "面积",
"products": [
{
"oldproductid": "旧建材id",
"newproductid": "新建材id",
"tp": "墙面，地面，顶面，家具中的一个"
}
]
}
]
}


                </pre>
                <br />
            </fieldset>
            <fieldset style="border: 1px solid red">
                <legend>输出参数</legend>
                <pre>
 [
{
"productid": "903",
"unit": "升",
"netprice": "76.80",
"pname": "多乐士全效竹炭儿童漆乳胶漆",
"bnmae": "多乐士",
"pmodel": "全效竹炭儿童漆",
"gg": "5L",
"smallpic": "http://www.mj100.com/admin/UploadFile/100X65/201403/QZTL_C_2014032615124503150466.jpg"
} 
]
           </pre>
            </fieldset>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>


