@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		 <meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable" />
    	<meta content="telephone=no" name="format-detection" />
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
    	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    	<title>设计师预约</title>
		<link href="/HMobile/css/common.css" rel="stylesheet" />
		<link href="/HMobile/css/demand.css" rel="stylesheet" />
		<script type="text/javascript" src="/HMobile/js/jquery-1.8.3.min.js" charset="utf-8"></script>	
		<script type="text/javascript" src="/HMobile/js/pubFunc.js"></script>		
		</head>
		<body style='background:#ebedf0;overflow-y:hidden;'>
		<header>
			<a href='/App/demand1' class='st iline'></a> 
			<div class='t iline clear ellipsis'>
				选择装修风格
			</div>
		</header>
		<!--需求四步共同标签-->
		<div class="Dzcontent">
			<p class='tit'>选择你喜欢的装修风格</p>
			<ul class='style1 clear'>
				<li><img src="/HMobile/img/01.png" alt="" class="o" />
					<p>英伦风 <img src="/HMobile/img/z_se0.png" alt="" class='' /></p>	
				</li>
				<li><img src="/HMobile/img/02.png" alt="" class="o" />
					<p>宜家风<img src="/HMobile/img/z_se0.png" alt="" class='' /></p>
				</li>
				<li><img src="/HMobile/img/03.png" alt="" class="o" />
					<p>无印风<img src="/HMobile/img/z_se0.png" alt="" class='' /></p>
				</li>
				<li><img src="/HMobile/img/04.png" alt="" class="o" />
					<p>新中式<img src="/HMobile/img/z_se0.png" alt="" class='' /></p>
				</li>
			</ul>
			
		</div>
		
		<a class='dz_step iline' id="next">
				<p>下一步(2/4)<img src="/HMobile/img/z_next.png" alt="" /></p>
		</a>
		
	<div class="dBott">Copyright &copy; 2013-2015 mj100.com 京ICP备14036628号</div>
	
	   </body>
	      <script>
	          $(function () {
	              loaddz2();
	          })
	          window.onresize = loaddz2;

	          function loaddz2() {
	              var dz_seLi = $('.Dzcontent .style1 li');
	              dz_seLi.on('click', function () {
	                  if (!$(this).find('p img').hasClass('a')) {
	                      dz_seLi.find('p img').attr('src', '/HMobile/img/z_se0.png');
	                      dz_seLi.find('p img').removeClass('a');
	                      $(this).find('p img').attr('src', '/HMobile/img/z_se1.png');
	                      $(this).find('p img').addClass('a');
	                  } else {
	                      $(this).find('p img').removeClass('a');
	                      dz_seLi.find('p img').attr('src', '/HMobile/img/z_se0.png');
	                  }
	              })
	              dBott($('.dBott'));
	              dzStep($('.dz_step'));
	          }



	          $(function () {
	              $("#next").click(function () {
	                  var s = -1;
	                  var text = "";
	                  $("ul img").each(function (i,ele) {
	                      if ($(ele).hasClass("a")) {
	                          s = i;
	                        
	                      }
	                  });
	                  if (s != -1) {

	                      if (s==1) {
	                          text = "英伦风";
	                      }
	                      if (s == 3) {
	                          text = "宜家风";
	                      }
	                      if (s == 5) {
	                          text = "无印风";
	                      }
	                      if (s == 7) {
	                          text = "新中式";
	                      }

	                     
	                      $.post("/app/xxxx", { zt: text }, function () {
	                          location.href = '/app/demand3';
	                      });
	                     
	                  } else {
	                      
	                      $.MsgBox.Alert("消息", "请选择装修风格！");
	                      return false;
	                  }
	                 
	                  
	              });
	          });
	   </script>
</html>
