@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>jsapitest</title>
    <script src="../../js/jquery-1.8.3.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script>

        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@ViewBag.appid', // 必填，公众号的唯一标识
            timestamp: "@ViewBag.timestamp", // 必填，生成签名的时间戳
            nonceStr: '@ViewBag.nonceStr', // 必填，生成签名的随机串
            signature: '@ViewBag.signature',// 必填，签名，见附录1
            jsApiList: ['getLocation', 'closeWindow', 'chooseImage', 'uploadImage', 'previewImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });


        wx.ready(function () {
             
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。

            wx.getLocation({
                success: function (res) {
                    var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                    var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                    var speed = res.speed; // 速度，以米/每秒计
                    var accuracy = res.accuracy; // 位置精度

                    alert("我的纬度：" + latitude + ",我的经度：" + longitude);



                    $.ajax({
                        url: "http://api.map.baidu.com/geocoder/v2/?ak=1735edad684487a9c4c82d1a94065632&output=json&pois=0&coordtype=wgs84ll",
                        data: "location="+latitude+","+longitude,
                        type: "post",
                        processData: false,
                        timeout: 15000,
                        dataType: "jsonp",  // not "json" we'll parse

                        success: function (d) {
                            alert(d.result.addressComponent.city);
                        }
                    });



                 

                }
            });
        });

        wx.error(function (res) {


            alert(res);
            alert("出错了");

            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

        });
    </script>
</head>
<body>
    <div style="width:100px;margin:10px 0 auto">
        <input  id="btnsc" type="button" value="上传照片"/>
    </div>
    <div id="img"></div>
</body>
</html>
<script>
    $(function () {
        $("#btnsc").click(function () {
            wx.chooseImage({
                success: function (res) {
                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片

                    alert("===="+localIds.length);

                    
                    for (var i = 0; i < localIds.length; i++) {

                        $("<img src='" + localIds[i] + "'/>").appendTo($("#img"));
                    }


                }
            });
        });
    });
</script>