@{
    Layout = null;
}


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="yes" name="apple-mobile-web-app-capable" />
    	<meta content="telephone=no" name="format-detection" />
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
    	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=yes">
		<title>我的预约</title>
		<link href="/HMobile/css/common.css" rel="stylesheet" />
		<link href="/HMobile/css/order.css" rel="stylesheet" />
		<script type="text/javascript" src="/HMobile/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/HMobile/js/order.js"></script>
		</head>
		<body>
		<section>
			<ul>
				<li class="l_demand"><b class="l_bActive"></b>
					<h1>6月16日<em>9:50</em><strong>提交需求</strong></h1>
					<h2 style="display: none;">您还没有提交任何需求，快去试试吧。</h2>
					<div class="l_process">
						<div class="l_pic">
						    <p><img src="/HMobile/images/eg.png"/></p>
						</div>
						<div class="l_other" style="display: none;">
						    <h3>客餐厅、主卧室、老人房、厨房、卫生间</h3>
						    <h3>89㎡<span>无印风主题</span>预算8～10万</h3>
						</div>
						<h3>北京朝阳区华龙美树小区<strong>18810616693</strong></h3>
					</div>
				</li>
				<li class="l_designer"><b class="l_bActive"></b>
					<h1>6月16日<em>10:05</em><strong>为您匹配到设计师</strong></h1>
					<h2 style="display: none;">您的需求已提交<br>正在匹配适合您的设计师哦。</h2>
					<div class="l_process">
						<dl>
						    <dt><img src="/HMobile/img/l_designer.png"/><i></i></dt>
						    <dd class="l_dd1">Angela</dd>
						    <dd><h3>18810616693</h3></dd>
					    </dl>
					    <a href="tel:18522358542" class="l_tel">联系</a>
					</div>				
				</li>
				<li class="l_project"><b class="l_bActive"></b>
					<h1>--月--日<em>--:--</em><strong>方案</strong></h1>
					<h2 style="display: none;">稍等一下吧<br>设计师正在为您精心制作方案...</h2>
					<div class="l_process">
						<h3>两室一厅一厨一卫</h3>
						<h3>装修总价86300元</h3>
						<h3>包含方案效果图12张</h3>
						<a href="tel:18522358542" class="l_detail">详情</a>
					</div>
				</li>
				<li class="l_order"><b class="l_bActive"></b>
					<h1>--月--日<em>--:--</em><strong>预约</strong></h1>
					<h2 style="display: none;">对方案满意的话<br>就和设计师约个时间吧...</h2>
					<div class="l_process">
						<h3>成功预约设计师 Angela</h3>
						<h3>预约时间为 6月23日 下午</h3>
					</div>
				</li>
			</ul>
			<a href="/app/index" class="l_ok">好的</a>
		</section>
		</body>
</html>
