@{
    Layout = null;

    JsApi.DesignerGrade desinger = ViewBag.desinger as JsApi.DesignerGrade;

    JsApi.DemandShowRooms drs = ViewBag.drs as JsApi.DemandShowRooms;

    string url ="http://www.mj100.com/userDiy/"+ Commen.DEncrypt.MD5("wbwb" + drs.UserId, true)+".html?img="+ Server.UrlDecode(desinger.Extension3);
     
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,height=device-height,target-densitydpi=medium-dpi,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>设计方案</title>
    <link href="/css/feedback.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/feedback.js"></script>
</head>
<body style='background: #1e91c1;'>
    <header>
        <h2>收到一条来自资深设计师的方案</h2>
        <p>6月22日14:56</p>
    </header>
    <section>
        <p>
            <img src="@drs.Extension5"/></p>
        <ul class="clear">
            <li><a href="tel:@desinger.MPhone"></a><span>去电预约</span></li>
            <li><a id="yy" href="/app/zDesigner/@desinger.ID">
                <img src="http://www.mj100.com/GEEKPRO/img/head/@desinger.Extension3?userid=@drs.UserId"/></a><span>设计师</span><b>@desinger.DID</b></li>
            <li><a href="@url"></a><span>方案详情</span></li>
        </ul>
    </section>
</body>
</html>

